{% extends '@layout/default.html.twig' %}

{% block title %}Book{% endblock %}

{% block content %}
    <h1>Books list</h1>
    <p class="lead">Connection database with Zend-db (TableGateway)</p>
    <div class="row">

        {% for book in books %}

            <div class="col-md-4">
                <h2>
                    <a href="/book/view/{{ book.id }}">
                        <i class="fa fa-refresh"></i> {{ book.title }}
                    </a>
                </h2>
                <p>
                    {{ book.content }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}