{% extends '@layout/default.html.twig' %}

{% block title %}{{ post.title }} | Blog {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ post.title }}</h1>
            <p class="lead">Connection database with Doctrine</p>
            <p>
                {{ post.content }}
            </p>
        </div>
    </div>

{% endblock %}